.name-header {
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.abilities {
  display: flex;
  justify-content: space-around;
  padding-top: 2px;
}

#all-skills-div {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding-left: 17px;
}

.char-info-basic {
  overflow-x: hidden;
}

.strength,
.dexterity,
.constitution,
.intelligence,
.wisdom,
.charisma {
  border: #c6ae7d solid 2px;
  border-radius: 0px 10px;
  padding-bottom: 3px;
  padding-right: 2px;
  padding-left: 2px;
}

.top-info-div {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.skill-name {
  padding: 10px;
}

.skill-ul {
  margin-top: 2px;
}

.race-class-camp {
  text-align: center;
}

b,
.saves-div,
.skill-prof-dom {
  font-size: 15px;
}

.skill-list {
  list-style-type: none;
  margin-left: -40px;
  padding-right: 20px;
}

.abilities {
  margin-bottom: 10px;
}

.char-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c6ae7d;
}

.char-link {
  float: left;
}

.char-link a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.char-link a:hover {
  background-color: #796234;
}

#char-item-div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 20px;
  border: #c6ae7d 2px solid;
  border-radius: 0px 10px;
  margin: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#delete-btn {
height: 20px;
margin-bottom: 6px;
}

